// add overrides here
// see link for variables
// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss

// Colors
$cardinal-000: #e6b8af;
$cardinal-100: #cc8080;
$cardinal-200: #dd7e6b;
$cardinal-300: #980000; // primary

// Customizations
$link-color: $cardinal-300;
$btn-primary-color: $cardinal-300;

$sidebar-color: $cardinal-000;
$table-background-color: $cardinal-100;